.login-register {
  margin-top: 245px;
}

#login,
#register {
  margin-top: 30px;

  .title {
    margin-top: 150px;
    margin-bottom: 50px;

    span {
      color: rgb(153, 153, 153);
      font-size: 14px;
      font-weight: 800;
    }
  }

  .login-form,
  .register-form {
    width: 100%;
    max-width: 327px;
    margin-top: 62px;
    margin: 0 auto;

    label {
      font-weight: bold;
      font-size: 14px;
      color: #c7c7c7;
      text-align: left;
      display: block;
      margin-bottom: 10px;
    }

    .password-form {
      position: relative;

      .icon-wrapper {
        cursor: pointer;
        position: absolute;
        right: 0px;
        top: 0px;
        margin-right: 15px;
        width: min-content;
        height: calc(1.5em + 0.75rem + 14px);
        display: flex;
        -webkit-box-align: center;
        align-items: center;

        img {
          .icon {
            width: 20px;
            height: 20px
          }
        }
      }
    }
  }
}