.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-20 {
  font-size: 20px;
}

.mb-2 {
  margin-bottom: .5rem !important;
}

.color-gray {
  color: rgb(175, 175, 175);
}

.weight-800 {
  font-weight: 800;
}

.text-left {
  text-align: left;
}

.p-18 {
  padding-left: 18px;
  padding-right: 18px;
}