.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-20 {
  font-size: 20px;
}

.mb-2 {
  margin-bottom: .5rem !important;
}

.color-gray {
  color: rgb(175, 175, 175);
}

.weight-800 {
  font-weight: 800;
}

.text-left {
  text-align: left;
}

.p-18 {
  padding-left: 18px;
  padding-right: 18px;
}

.invalid {
  width: 100%;
  color: #dc3545;
  margin-top: 0.25rem;
  font-size: 0.75em;
  font-size: 80%;
  text-align: left;
}

.bordered, .bordered button {
  background: transparent !important;
  border-width: 2px !important;
  color: rgb(0, 0, 0) !important;
}